apiVersion: apps/v1
kind: Deployment
metadata:
  name: bobapp-back
  labels:
    app: bobapp-back
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bobapp-back
  template:
    metadata:
      labels:
        app: bobapp-back
    spec:
      containers:
        - name: bobapp-back
          image: chrysnullptr/bobapp-back:latest
          ports:
            - containerPort: 8080
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: bobapp-back
spec:
  type: NodePort
  selector:
    app: bobapp-back
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080
